#contact_us{
    width:90vw;
    padding-top: 3%;
    position: relative;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1.7rem;
    text-justify: distribute-all-lines;
    padding-bottom: 2vh;
 }

 input[type=text] {
    border: none;
    height: 5vh;
    width: 50vw;
    border-bottom: 2px solid rgb(0, 213, 255);
  }

  input[type=email] {
    border: none;
    height: 5vh;
    width: 50vw;
    border-bottom: 2px solid rgb(0, 213, 255);
  }

  input:focus{
    border:none;
  }