#contact {
  width: 90vw;
  padding-top: 3%;
  position: relative;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 1.7rem;
  text-justify: distribute-all-lines;
  padding-bottom: 2vh;
  background: #364863;
  border-radius: 25px;
}

#contact h2 {
  color: #FFFFFF;
  text-align: center;
}

#contact label {
  color: #FFFFFF;
  padding: 10px 0 10px 0;
}

input[type=text] {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-indent: 1%;
  height: 5vh;
  width: 50vw;
  border-bottom: 2px solid rgb(0, 213, 255);
}

input[type=email] {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-indent: 1%;
  height: 5vh;
  width: 50vw;
  border-bottom: 2px solid rgb(0, 213, 255);
}
#message {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  width: 50vw;
  margin-bottom: 25px;
}



input:focus {
  border: none;
}

.contact__form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-primary{
  background-color: #253348 !important;
  border: none !important;
  height: 5vh;
  width: 25vh;
}

.btn-primary:hover{
  background-color: #172232 !important;
}

textarea {
  border: none;
  height: 10vh;
  width: 50vw;
  border-bottom: 2px solid rgb(0, 213, 255);
}

@media screen and (max-width: 768px) {
  input[type=text] {
    width: 325px;
  }

  input[type=email]{
    width: 325px;
  }

  #message {
    width: 325px;
  }

  #contact label {
    color: #FFFFFF;
    padding: 2px 0 2px 0;
  }
}

@media screen and (min-width: 280px) {
  input[type=text] {
    width: 235px;
  }

  input[type=email]{
    width: 235px;
  }

  #message {
    width: 235px;
  }

  #contact label {
    color: #FFFFFF;
    padding: 2px 0 2px 0;
  }
}