.footer {
    position: relative;
    left: 0;
    bottom: 110%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    background: rgb(0, 0, 0);
    text-align: center;

}

.texto-footer {
    text-align: center;
    color: #FFFFFF
}