#preview{
    width: 70%;
    padding-top: 3%;
    position: relative;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-justify: distribute-all-lines;
}

.preview__text h2{
    font-size: 3rem;
    color: #FFFFFF;
    padding-bottom: 2vh;
}

.carousel-item {
    width: 80vw;
    height: 45vw;
}

.carousel-item:hover{
    opacity: 75%;
}

.-carousel-control-prev-icon{
    background-color: #000;
    position: relative;
}

.d-block{
    width: 60%;
    border-radius: 15px;
}


