#preview {
    width: 70%;
    padding-top: 3%;
    position: relative;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-justify: distribute-all-lines;
}

.preview__text h2 {
    font-size: 3rem;
    color: #FFFFFF;
    padding-bottom: 2vh;
}

.carousel-item {
    width: 80vw;
    height: 45vw;
}

.carousel-item:hover {
    opacity: 75%;
}

.-carousel-control-prev-icon {
    background-color: #000;
    position: relative;
}

.carousel-inner {
    height: 70vw !important;
}

.carousel-control-prev-icon {
    position: absolute !important;
    top: 25% !important;
}


.carousel-control-next-icon {
    position: absolute !important;
    top: 25% !important;
}

.d-block {
    width: 60%;
    border-radius: 15px;
}

.carrousel-item__description {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    width: 65vw;
    height: 10vw;
    border-radius: 15px;
    display: table;
    opacity: 50%;
}

.carrousel-item__description span {
    opacity: 100%;
    font-size: 2vw;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
}
.carousel-indicators{
    display: none !important;
}

@media screen and (max-width: 768px){
    .carrousel-item__description{
        width: 90vw;
        top: 105%;
    }

    .carousel-indicators{
        display: block !important;
    }

    .carrousel-item__description span {
        font-size: 3vw;
    }

    .carousel-item{
        width: 90vw !important;
        height: 55vw;
    }

    #preview {
        width: 95vw;
        padding: 0;
    }

    .carousel-inner {
        height: 70vw !important;
        margin-left: 3vw;
    }

    .carousel-control-next-icon {
        top: 35% !important;
    }

    .carousel-control-prev-icon {
        top: 35% !important;
    }
}