#projects{
    width:90vw;
    padding-top: 3%;
    position: relative;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1.7rem;
    text-justify: distribute-all-lines;