#projects {
    width: 80%;
    padding-top: 3%;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1.7rem;
    text-justify: distribute-all-lines;
    align-content: center;
}

#projects h2 {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}

.card-img {
    max-width: 100%;
}

article {
    width: 350px;
    margin-bottom: 25px;
}

article.header-card {
    max-width: 350px;
    background: #F8F8F8;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 0 12px #D7D7D7;
}

.header-card img {
    border-radius: 8px 8px 0 0;
    max-height: 200px;
    height: 200px;
    width: 100%;
}

.card-title {
    margin-top: 1rem;
}

.card-title span {
    background: #4B5C77;
    color: #FFFFFF;
    padding: .2rem .5rem;
    border-radius: 5px;
}

.card footer {
    padding: 0 1rem;
    padding-bottom: 1rem;
}


article.card:hover {
    opacity: 50%;
}

.cards-content {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    justify-items: auto;
    align-items: flex-end;
}